
<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h2>Banner Div 1</h2>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h2>Banner Div 2</h2>
    </div>
  </div>
</div>
