<div class="navbar-default navbar-fixed-bottom foot1" id="foot2">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <h2 class="footerHead">Footer One</h2>
      </div>
      
      <div class="col-md-4 text-center">
        <h2 class="footerHead">Footer Two</h2>
        <a class="socialLinks" href="https://www.facebook.com/greenrhinodev/?ref=bookmarks" ><i class="fa fa-facebook-square fa-2x"></i> Check Us Out On: <i class="fa fa-facebook-square fa-2x"></i></a>
      </div>
      
      <div class="col-md-4 text-center">
        <h2 class="footerHead">Footer Three</h2>
      </div>
    </div>
  </div>
</div>

<footer class="navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <span>Winning!</span>
  </div>
</footer>