<div class="row mainContent">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center f-font">About Me</h1>
    <p>Welcome to greenRHINO's Dev-Match. We are a community of developers, designers, entrepreneurs, investors and customers where we can all get together to help each other. We have coders helping designers and designers helping entrepreneurs and we all get together and help our customers.</p>
  </div>
  
  <div class="well">
    <%= render "devise/registrations/banner_main" %>
  </div>
</div>