<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  
  <body>
    <h1>From the greenRHINO Dev-Match App.</h1>
    <p>You have recieved a message from the site's contact form, from <%= "#{ @name }, #{ @email }." %> </p>
    <p><%= @body %></p>
  </body>
</html>