 //--------------Imports--------------------------------
 
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
// The font-awesome icon font
@import "font-awesome-sprockets";
@import "font-awesome";


//--------------Tags------------------------------------


//--------------Classes--------------------------------

.navbar {
  //Gradient courtesy of UIGRADENTS.COM
  background: #52c234;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #061700, #52c234);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #061700, #52c234); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.navbar-inverse .navbar-brand {
  color: #ae4322;  
  font-family: 'Crushed', cursive;
  font-size: 2em;
}

.navbar-inverse .navbar-brand:hover {
  color: #dbaf77;
}

.navbar-inverse .navbar-nav > li > a {
  color: #dbaf77;
  font-family: 'Archivo Black', sans-serif;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #ae4322;
}

.col-md-4 > .well {
  background-color: #E5FBCB;
}

.btn-1 {
  border: black solid 1px;
}

.alert-notice {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.foot1 {
  background-color: #000;
  min-height: 300px;
}

.socialLinks {
  position: relative;
  text-decoration: none;
  color: #fff;
}

.socialLinks:hover {
  color: #f22900;
}

.heightAttr {
  min-height: 600px;
}
//--------------IDs------------------------------------